.workers {
    width: 100px;
    border-radius: 15px;
    transition: 0.25s ease-in-out;

    &.arrival {
        background-color: hsla(120, 100%, 25%, 0.2);
        border: 3px solid hsl(120, 100%, 25%);
        color: hsl(120, 100%, 25%);
        &:hover {
            background-color: var(--main-clr);
        }
    }

    &.departure {
        background-color: hsla(240, 100%, 50%, 0.2);
        border: 3px solid hsl(240, 100%, 50%);
        color: hsl(240, 100%, 50%);

        &:hover {
            background-color: var(--main-clr);
        }
    }

    &:hover {
        cursor: pointer;
    }
}